<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What game should I play?</title>

    <link rel="stylesheet" href="./styles/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nova+Round&display=swap" rel="stylesheet" />
  </head>
  <body>
    <select name="platforms">
        <% if(locals.platforms) { %>
            <% platforms.forEach(platform => { %>
                <option value="<%= platform.id %>"><%= platform.name %></option>
            <% }); %>
        <% } %>
    </select>
    <img src="<%= gameImage %>"></img>
    <h1><%= gameName %></h1>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="./scripts/script.js"></script>
  </body>
</html>
